In [ ]:
from pymongo import MongoClient
client=MongoClient('mongodb+srv://azure:1234@cluster0.ta8k8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db=client.airbnb
collection_Review=db.Review
collection_Listing=db.Listing
collection_Calendar=db.Calendar

In [ ]:
import pandas as pd

# Fetch all data from the collection
Review = list(collection_Review.find())
Listing = list(collection_Listing.find())
Calendar = list(collection_Calendar.find())

# Create DataFrames
df_Review = pd.DataFrame(Review)
df_Listing = pd.DataFrame(Listing)
df_Calendar = pd.DataFrame(Calendar)

In [ ]:
df_Review

,_id,listing_id,id,date,reviewer_id,reviewer_name,comments
0,67453ac4fdd5b691a09358cc,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,67453ac4fdd5b691a09358cd,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,67453ac4fdd5b691a09358ce,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,67453ac4fdd5b691a09358cf,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,67453ac4fdd5b691a09358d0,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...
...,...,...,...,...,...,...,...
573072,67453cbbfdd5b691a09c175c,1233097067966383620,1237006458719581379,2024-09-02,131516395,Jairo,"Loved this Airbnb, parked the rental in the ga..."
573073,67453cbbfdd5b691a09c175d,1233458171350847359,1235643868703935001,2024-08-31,188025909,Jessica Anna,"The location is unbeatable, right in the heart..."
573074,67453cbbfdd5b691a09c175e,1233634161845475908,1237039990266700869,2024-09-02,293569511,Abishek,Great Place! Very clean and comfortable. I wil...
573075,67453cbbfdd5b691a09c175f,1233751078363326332,1239177218317027784,2024-09-05,582901404,Omar,Thank you for hosting my family. we had a gre...
573076,67453cbbfdd5b691a09c1760,1234042847646185352,1238562455560871223,2024-09-04,497990924,Hyungjun,"Clean and comfy room and very kind host, I hig..."

In [ ]:
df_Review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573077 entries, 0 to 573076
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            573077 non-null  object
 1   listing_id     573077 non-null  int64
 2   id             573077 non-null  int64
 3   date           573077 non-null  datetime64[ns]
 4   reviewer_id    573077 non-null  int64
 5   reviewer_name  573077 non-null  object
 6   comments       573077 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 30.6+ MB

In [ ]:
from textblob import TextBlob
import pandas as pd


def analyze_sentiment(comment):
    comment = str(comment)
    if not comment or pd.isnull(comment):  # Handle blank or NaN comments
        return "neutral"
    analysis = TextBlob(comment)
    if analysis.sentiment.polarity > 0:
        return "positive"
    elif analysis.sentiment.polarity < 0:
        return "negative"
    else:
        return "neutral"

df_sentiment = df_Review.drop(columns=['_id', 'id', 'date', 'reviewer_name'])
df_sentiment['sentiment'] = df_sentiment['comments'].apply(analyze_sentiment)

In [ ]:
df_sentiment['sentiment'].value_counts()

sentiment
positive    521105
neutral      45781
negative      6191
Name: count, dtype: int64

In [ ]:
Review_sentiment = df_sentiment.groupby(['listing_id', 'sentiment']).size().unstack(fill_value=0)

Review_sentiment.reset_index(inplace=True)

Review_sentiment.columns.name = None
Review_sentiment.rename(columns={'positive': 'positive', 'negative': 'negative', 'neutral': 'neutral'}, inplace=True)

Review_sentiment

                listing_id  negative  neutral  positive
0                     1419         0        0         6
1                     8077         0        1       168
2                    26654         1        1        40
3                    27423         0        1        29
4                    30931         0        0         1
...                    ...       ...      ...       ...
16605  1233097067966383620         0        0         1
16606  1233458171350847359         0        0         1
16607  1233634161845475908         0        0         1
16608  1233751078363326332         0        0         1
16609  1234042847646185352         0        0         1

[16610 rows x 4 columns]

In [ ]:
Review_sentiment.to_csv('review_sentiment.csv', index=False)

In [ ]:
df_sentiment

,listing_id,reviewer_id,comments,sentiment
0,1419,11308465,Having the opportunity of arriving to Alexandr...,positive
1,1419,9580285,We have no enough words to describe how beauty...,positive
2,1419,38394721,The listing was exceptional and an even better...,positive
3,1419,3515044,Alexandra's home was amazing and in such a nea...,positive
4,1419,13987100,Beautiful home. Very comfortable and clean. Pe...,positive
...,...,...,...,...
573072,1233097067966383620,131516395,"Loved this Airbnb, parked the rental in the ga...",positive
573073,1233458171350847359,188025909,"The location is unbeatable, right in the heart...",positive
573074,1233634161845475908,293569511,Great Place! Very clean and comfortable. I wil...,positive
573075,1233751078363326332,582901404,Thank you for hosting my family. we had a gre...,positive
573076,1234042847646185352,497990924,"Clean and comfy room and very kind host, I hig...",positive

In [ ]:
#just select comments and sentiment columns and save it into csv named csvcomment
df_sentiment=df_sentiment[['comments','sentiment']]
df_sentiment.to_csv('csvcomment.csv',index=False)

In [ ]:
#unique number of listing_id form df_Review
df_Review['listing_id'].nunique()

16610

In [ ]:
df_Calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1419,2024-09-06,f,$469.00,NaN,28.0,730.0
1,1419,2024-09-07,f,$469.00,NaN,28.0,730.0
2,1419,2024-09-08,f,$469.00,NaN,28.0,730.0
3,1419,2024-09-09,f,$469.00,NaN,28.0,730.0
4,1419,2024-09-10,f,$469.00,NaN,28.0,730.0
...,...,...,...,...,...,...,...
7966122,1238622881503213641,2025-09-01,f,$425.00,NaN,28.0,365.0
7966123,1238622881503213641,2025-09-02,f,$425.00,NaN,28.0,365.0
7966124,1238622881503213641,2025-09-03,f,$425.00,NaN,28.0,365.0
7966125,1238622881503213641,2025-09-04,f,$425.00,NaN,28.0,365.0
7966126,1238622881503213641,2025-09-05,f,$425.00,NaN,28.0,365.0

In [ ]:
df_Calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7966127 entries, 0 to 7966126
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 425.4+ MB

In [ ]:
Calendar_update=df_Calendar.copy()

In [ ]:
# Drop the 'date' column
Calendar_update = df_Calendar.drop(columns=['date'])

# Remove specific listings (replace with actual logic if needed)
listings_to_remove = [39173764, 963208358673073891]  # Example listing IDs
Calendar_update = Calendar_update[~Calendar_update['listing_id'].isin(listings_to_remove)]

In [ ]:
#count of distinct listing_id from df_calender along with number of occurance
df_Calendar['listing_id'].value_counts()

listing_id
1214184360723826950    366
984169057959518938     366
939216864906265668     365
934799650877221833     365
936898641657997949     365
                      ...
41845970               365
41431428               365
41844058               365
42068622               365
41461555               365
Name: count, Length: 21825, dtype: int64

In [ ]:
#what is distinct price for lisitng idd 41461555
df_Calendar[df_Calendar['listing_id']==41461555]['price'].value_counts()

price
$130.00    365
Name: count, dtype: int64

In [ ]:
#distinct count of listingid
df_Calendar['listing_id'].nunique()

21825

In [ ]:
#count of listing_id with different price values
df_Calendar['listing_id'].value_counts()

In [ ]:
#distinct listing_id and price
df_Calendar[['listing_id','price']].value_counts()

listing_id           price
984169057959518938   $88.00     366
1214184360723826950  $59.00     366
936094881610665141   $450.00    365
935643228222733696   $699.00    365
935632332729866007   $749.00    365
                               ...
41930318             $149.00    365
41930307             $149.00    365
41915298             $72.00     365
41912053             $130.00    365
41935935             $145.00    365
Name: count, Length: 21825, dtype: int64

In [ ]:
price_counts = df_Calendar.groupby('listing_id')['price'].nunique()
listing_ids_with_multiple_prices = price_counts[price_counts > 1].index.tolist()
print(listing_ids_with_multiple_prices)

[39173764, 963208358673073891]

In [ ]:
#select ddistinct price from calender and its occurance count where listing id 39173764
df_Calendar[df_Calendar['listing_id']==39173764]['price'].value_counts()

price
$1,080.00    216
$1,200.00     89
$950.00       25
$1,100.00     21
$1,000.00     14
Name: count, dtype: int64

In [ ]:
#select ddistinct price from calender and its occurance count where listing id 963208358673073891
df_Calendar[df_Calendar['listing_id']==963208358673073891]['price'].value_counts()

price
$1,217.00    340
$899.00       25
Name: count, dtype: int64

In [ ]:
# Update price for listing_id 963208358673073891 to $1100
df_Calendar.loc[df_Calendar['listing_id'] == 963208358673073891, 'price'] = '$1100'

# Update price for listing_id 39173764 to $1000
df_Calendar.loc[df_Calendar['listing_id'] == 39173764, 'price'] = '$1000'

In [ ]:
Calender_update=df_Calendar.copy()

In [ ]:
#for listing_id 41461555 whats the count for available distinct values
df_Calendar[df_Calendar['listing_id']==41461555]['available'].value_counts()

available
t    309
f     56
Name: count, dtype: int64

In [ ]:
#for listing_id 41461555 whats the count for available distinct values
df_Calendar[df_Calendar['listing_id']==1419]['available'].value_counts()

available
f    365
Name: count, dtype: int64

In [ ]:
calendar_update = df_Calendar.groupby(['listing_id', 'price']).agg(nights_booked=('available', lambda x: (x == 'f').sum())).reset_index()

In [ ]:
calendar_update

                listing_id    price  nights_booked
0                     1419  $469.00            365
1                     8077   $75.00            365
2                    26654  $155.00            291
3                    27423   $75.00            365
4                    30931  $100.00            365
...                    ...      ...            ...
21820  1238375993354181658  $350.00              0
21821  1238381731476165839   $89.00             23
21822  1238429354932685108  $170.00            311
21823  1238458106144360234  $150.00            319
21824  1238622881503213641  $425.00             76

[21825 rows x 3 columns]

In [ ]:
#save calender_result into a csv named calender_updated
calendar_update.to_csv('calender_updated.csv',index=False)

In [ ]:
df_Listing

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20240905175005,2024-09-06,previous scrape,Beautiful home in amazing area!,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,https://a0.muscache.com/pictures/76206750/d643...,1565,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.05
1,8077,https://www.airbnb.com/rooms/8077,20240905175005,2024-09-06,previous scrape,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,NaN,https://a0.muscache.com/pictures/11780344/141c...,22795,...,4.90,4.92,4.83,NaN,f,2,1,1,0,0.92
2,26654,https://www.airbnb.com/rooms/26654,20240905175005,2024-09-06,city scrape,"World Class @ CN Tower, convention centre, The...","CN Tower, TIFF Bell Lightbox, Metro Convention...",There's a reason they call it the Entertainmen...,https://a0.muscache.com/pictures/81811785/5dcd...,113345,...,4.76,4.86,4.67,NaN,f,5,5,0,0,0.25
3,27423,https://www.airbnb.com/rooms/27423,20240905175005,2024-09-06,city scrape,Executive Studio Unit- Ideal for One Person,"Brand new, fully furnished studio basement apa...",NaN,https://a0.muscache.com/pictures/176936/b687ed...,118124,...,5.00,4.87,4.87,NaN,f,1,1,0,0,0.17
4,30931,https://www.airbnb.com/rooms/30931,20240905175005,2024-09-06,previous scrape,Downtown Toronto - Waterview Condo,Split level waterfront condo with a breathtaki...,NaN,https://a0.muscache.com/pictures/227971/e8ebd7...,22795,...,NaN,NaN,NaN,NaN,f,2,1,1,0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21820,1238375993354181658,https://www.airbnb.com/rooms/1238375993354181658,20240905175005,2024-09-06,city scrape,3-Bed Home Near Yonge &Sheppard,Peaceful 3-Bedroom Home Near Yonge & Sheppard<...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,530751941,...,NaN,NaN,NaN,STR-2308-FKJVHP,f,1,1,0,0,NaN
21821,1238381731476165839,https://www.airbnb.com/rooms/1238381731476165839,20240905175005,2024-09-06,city scrape,SunnyroomBalconyPrivate bathroom,Bright comfortable private room with lock on t...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,12013800,...,NaN,NaN,NaN,STR-2103-HWQRVL,f,4,0,4,0,NaN
21822,1238429354932685108,https://www.airbnb.com/rooms/1238429354932685108,20240905175005,2024-09-06,city scrape,Low Rate!-2 Bed/1 Bath-Bay/Gerrard-The Livmore,30-night Minimum Stay. <br /><br />Sleek 2 Bed...,Bay Street and Gerrard Street West are situate...,https://a0.muscache.com/pictures/miso/Hosting-...,169697179,...,NaN,NaN,NaN,NaN,t,28,28,0,0,NaN
21823,1238458106144360234,https://www.airbnb.com/rooms/1238458106144360234,20240905175005,2024-09-06,city scrape,Low Rate!-1 Bd/1 Bd Ready Move-In Condo-Element,30-night Minimum Stay. <br />Located in the...,Nestled in the vibrant heart of downtown Toron...,https://a0.muscache.com/pictures/miso/Hosting-...,169697179,...,NaN,NaN,NaN,NaN,t,28,28,0,0,NaN
21824,1238622881503213641,https://www.airbnb.com/rooms/1238622881503213641,20240905175005,2024-09-06,city scrape,Dreamy Duo: 1-BDR with 2 Queen Beds at The Well!,Welcome to one of Toronto’s premier profession...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,33238402,...,NaN,NaN,NaN,NaN,t,2,2,0,0,NaN

In [ ]:
#count of distinct host_id
df_Listing['host_id'].nunique()

14429

In [ ]:
df_Listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21825 entries, 0 to 21824
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            21825 non-null  int64
 1   listing_url                                   21825 non-null  object
 2   scrape_id                                     21825 non-null  int64
 3   last_scraped                                  21825 non-null  object
 4   source                                        21825 non-null  object
 5   name                                          21825 non-null  object
 6   description                                   21316 non-null  object
 7   neighborhood_overview                         10759 non-null  object
 8   picture_url                                   21825 non-null  object
 9   host_id                                       21825 non-null  int64
 10  host_url                                      21825 non-null  object
 11  host_name                                     21823 non-null  object
 12  host_since                                    21823 non-null  object
 13  host_location                                 16235 non-null  object
 14  host_about                                    10114 non-null  object
 15  host_response_time                            15741 non-null  object
 16  host_response_rate                            15741 non-null  object
 17  host_acceptance_rate                          16297 non-null  object
 18  host_is_superhost                             20914 non-null  object
 19  host_thumbnail_url                            21823 non-null  object
 20  host_picture_url                              21823 non-null  object
 21  host_neighbourhood                            8221 non-null   object
 22  host_listings_count                           21823 non-null  float64
 23  host_total_listings_count                     21823 non-null  float64
 24  host_verifications                            21823 non-null  object
 25  host_has_profile_pic                          21823 non-null  object
 26  host_identity_verified                        21823 non-null  object
 27  neighbourhood                                 10760 non-null  object
 28  neighbourhood_cleansed                        21825 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      21825 non-null  float64
 31  longitude                                     21825 non-null  float64
 32  property_type                                 21825 non-null  object
 33  room_type                                     21825 non-null  object
 34  accommodates                                  21825 non-null  int64
 35  bathrooms                                     16524 non-null  float64
 36  bathrooms_text                                21810 non-null  object
 37  bedrooms                                      20185 non-null  float64
 38  beds                                          16519 non-null  float64
 39  amenities                                     21825 non-null  object
 40  price                                         16536 non-null  object
 41  minimum_nights                                21825 non-null  int64
 42  maximum_nights                                21825 non-null  int64
 43  minimum_minimum_nights                        21825 non-null  int64
 44  maximum_minimum_nights                        21825 non-null  int64
 45  minimum_maximum_nights                        21825 non-null  int64
 46  maximum_maximum_nights                        21825 non-null  int64
 47  minimum_nights_avg_ntm                        21825 non-null  float64
 48  maximum_nights_avg_ntm                        21825 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              20774 non-null  object
 51  availability_30                               21825 non-null  int64
 52  availability_60                               21825 non-null  int64
 53  availability_90                               21825 non-null  int64
 54  availability_365                              21825 non-null  int64
 55  calendar_last_scraped                         21825 non-null  object
 56  number_of_reviews                             21825 non-null  int64
 57  number_of_reviews_ltm                         21825 non-null  int64
 58  number_of_reviews_l30d                        21825 non-null  int64
 59  first_review                                  16610 non-null  object
 60  last_review                                   16610 non-null  object
 61  review_scores_rating                          16610 non-null  float64
 62  review_scores_accuracy                        16608 non-null  float64
 63  review_scores_cleanliness                     16608 non-null  float64
 64  review_scores_checkin                         16608 non-null  float64
 65  review_scores_communication                   16608 non-null  float64
 66  review_scores_location                        16607 non-null  float64
 67  review_scores_value                           16608 non-null  float64
 68  license                                       10730 non-null  object
 69  instant_bookable                              21825 non-null  object
 70  calculated_host_listings_count                21825 non-null  int64
 71  calculated_host_listings_count_entire_homes   21825 non-null  int64
 72  calculated_host_listings_count_private_rooms  21825 non-null  int64
 73  calculated_host_listings_count_shared_rooms   21825 non-null  int64
 74  reviews_per_month                             16610 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 12.5+ MB

In [ ]:
listing_data=df_Listing[['id','name','host_id','neighbourhood_cleansed','latitude','longitude','property_type','room_type','accommodates','bathrooms','bathrooms_text','bedrooms','beds','amenities','minimum_nights','has_availability','license','instant_bookable']]

In [ ]:
host_data=df_Listing[['host_id','host_name','host_since','host_location','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost','host_listings_count','host_verifications','host_identity_verified']]

In [ ]:
host_data=host_data.drop_duplicates()

In [ ]:
host_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14429 entries, 0 to 21820
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   host_id                 14429 non-null  int64
 1   host_name               14427 non-null  object
 2   host_since              14427 non-null  object
 3   host_location           10610 non-null  object
 4   host_response_time      9215 non-null   object
 5   host_response_rate      9215 non-null   object
 6   host_acceptance_rate    9612 non-null   object
 7   host_is_superhost       14034 non-null  object
 8   host_listings_count     14427 non-null  float64
 9   host_verifications      14427 non-null  object
 10  host_identity_verified  14427 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 1.3+ MB

In [ ]:
listing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21825 entries, 0 to 21824
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      21825 non-null  int64
 1   name                    21825 non-null  object
 2   host_id                 21825 non-null  int64
 3   neighbourhood_cleansed  21825 non-null  object
 4   latitude                21825 non-null  float64
 5   longitude               21825 non-null  float64
 6   property_type           21825 non-null  object
 7   room_type               21825 non-null  object
 8   accommodates            21825 non-null  int64
 9   bathrooms               16524 non-null  float64
 10  bathrooms_text          21810 non-null  object
 11  bedrooms                20185 non-null  float64
 12  beds                    16519 non-null  float64
 13  amenities               21825 non-null  object
 14  minimum_nights          21825 non-null  int64
 15  has_availability        20774 non-null  object
 16  license                 10730 non-null  object
 17  instant_bookable        21825 non-null  object
dtypes: float64(5), int64(4), object(9)
memory usage: 3.0+ MB

In [ ]:
listing_data

,id,name,host_id,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,minimum_nights,has_availability,license,instant_bookable
0,1419,Beautiful home in amazing area!,1565,Little Portugal,43.645900,-79.424230,Entire home,Entire home/apt,10,NaN,3 baths,5.0,NaN,"[""TV"", ""First aid kit"", ""Wifi"", ""Kitchen"", ""Dr...",28,t,NaN,f
1,8077,Downtown Harbourfront Private Room,22795,Waterfront Communities-The Island,43.640800,-79.376730,Private room in rental unit,Private room,2,NaN,1.5 baths,NaN,NaN,"[""Wifi"", ""Pool"", ""TV with standard cable"", ""Sh...",180,NaN,NaN,f
2,26654,"World Class @ CN Tower, convention centre, The...",113345,Waterfront Communities-The Island,43.646080,-79.390320,Entire condo,Entire home/apt,4,1.0,1 bath,1.0,2.0,"[""Wifi"", ""Paid parking on premises"", ""Essentia...",28,t,NaN,f
3,27423,Executive Studio Unit- Ideal for One Person,118124,South Riverdale,43.668840,-79.327250,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Essentials"", ""Central heating"", ""Ethernet co...",90,t,NaN,f
4,30931,Downtown Toronto - Waterview Condo,22795,Waterfront Communities-The Island,43.640150,-79.376250,Entire rental unit,Entire home/apt,2,NaN,1.5 baths,1.0,NaN,"[""Wifi"", ""Kitchen"", ""Pool"", ""TV with standard ...",180,NaN,NaN,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21820,1238375993354181658,3-Bed Home Near Yonge &Sheppard,530751941,Lansing-Westgate,43.761069,-79.424998,Entire home,Entire home/apt,6,2.0,2 baths,3.0,3.0,"[""TV"", ""Wifi"", ""Kitchen"", ""Dedicated workspace...",1,t,STR-2308-FKJVHP,f
21821,1238381731476165839,SunnyroomBalconyPrivate bathroom,12013800,Corso Italia-Davenport,43.675524,-79.442129,Private room in home,Private room,2,1.0,1 bath,1.0,1.0,"[""Wifi"", ""Backyard"", ""Rice maker"", ""Dryer"", ""E...",1,t,STR-2103-HWQRVL,f
21822,1238429354932685108,Low Rate!-2 Bed/1 Bath-Bay/Gerrard-The Livmore,169697179,Bay Street Corridor,43.658463,-79.384128,Entire serviced apartment,Entire home/apt,5,1.0,1 bath,2.0,4.0,"[""Wifi"", ""Paid parking on premises"", ""Dryer"", ...",30,t,NaN,t
21823,1238458106144360234,Low Rate!-1 Bd/1 Bd Ready Move-In Condo-Element,169697179,Waterfront Communities-The Island,43.643889,-79.391852,Entire rental unit,Entire home/apt,5,2.0,2 baths,2.0,3.0,"[""Wifi"", ""Paid parking on premises"", ""Dryer"", ...",30,t,NaN,t
21824,1238622881503213641,Dreamy Duo: 1-BDR with 2 Queen Beds at The Well!,33238402,Waterfront Communities-The Island,43.641292,-79.396373,Entire condo,Entire home/apt,6,1.0,1 bath,1.0,2.0,"[""Wifi"", ""Dryer"", ""Essentials"", ""Cleaning prod...",28,t,NaN,t

In [ ]:
#save host_data and listing_data in csv
host_data.to_csv('host_data.csv',index=False)
listing_data.to_csv('listing_data.csv',index=False)

In [ ]:
#distinct bathrooms	bathrooms_text from lsing_data just give tot
listing_data[['bathrooms','bathrooms_text']].value_counts()

bathrooms  bathrooms_text
1.0        1 bath               8321
           1 bath               2709
2.0        2 baths              2166
1.0        1 shared bath        2083
           1 private bath       1717
           1 shared bath         763
1.5        1.5 baths             696
           2 baths               627
           1 private bath        438
2.5        2.5 baths             362
1.5        1.5 shared baths      296
           1.5 baths             277
2.0        2 shared baths        251
3.0        3 baths               209
3.5        3.5 baths             151
           2.5 baths             109
           2 shared baths         85
           1.5 shared baths       75
           3 baths                69
4.0        4 baths                55
           3.5 baths              46
4.5        4.5 baths              30
0.0        0 shared baths         28
0.5        Half-bath              25
0.0        0 baths                24
2.5        2.5 shared baths       22
           4.5 baths              21
           4 baths                17
0.5        Shared half-bath       17
5.0        5 baths                16
3.0        3 shared baths         14
                                  14
           0 baths                11
           0 shared baths         11
6.0        6 baths                10
5.5        5.5 baths               9
0.5        Private half-bath       8
           2.5 shared baths        7
           5 baths                 6
           Shared half-bath        5
           Half-bath               4
6.5        6.5 baths               4
4.5        4.5 shared baths        3
           5.5 baths               3
           Private half-bath       2
0.0                                1
3.5        3.5 shared baths        1
1.0        0 shared baths          1
           0 baths                 1
           1.5 baths               1
8.0        8 baths                 1
4.0        4 shared baths          1
           3 shared baths          1
           6.5 baths               1
Name: count, dtype: int64

In [ ]:
# Create a new column 'bathrooms' by extracting the numeric part from 'bathrooms_text'
df_Listing['bathrooms'] = df_Listing['bathrooms_text'].str.extract(r'(\d+\.?\d*)')[0].astype(float)

# Handle specific cases for 'Private half-bath' and 'Shared half-bath'
df_Listing.loc[df_Listing['bathrooms_text'].str.contains('Private half-bath', na=False), 'bathrooms'] = 0.5
df_Listing.loc[df_Listing['bathrooms_text'].str.contains('Shared half-bath', na=False), 'bathrooms'] = 0.5

In [ ]:
def estimate_bedrooms(row):
    if pd.isna(row['bedrooms']):
        if row['room_type'] == 'Entire home/apt':
            return max(1, row['accommodates'] // 2)
        elif row['room_type'] == 'Private room':
            return 1
        elif row['room_type'] == 'Shared room':
            return 1
        elif row['room_type'] == 'Hotel room':
            return 1
    return row['bedrooms']

listing_data['bedrooms'] = listing_data.apply(estimate_bedrooms, axis=1)

In [ ]:
#save host_data and listing_data in csv
host_data.to_csv('host_data.csv',index=False)
listing_data.to_csv('listing_data.csv',index=False)